# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [1]:
import pandas
pandas.__version__

'1.2.4'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [3]:
import pandas as pd
import numpy as np

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [3]:
a=pd.Series([1,2,3,4,5,67])
a

0     1
1     2
2     3
3     4
4     5
5    67
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [4]:
a.values

array([ 1,  2,  3,  4,  5, 67], dtype=int64)

In [5]:
a.index

RangeIndex(start=0, stop=6, step=1)

We can assign meaningful labels to the index, if they are available:

In [6]:
Person=pd.Series([23,'sandy','BE',2020],
index=['age','name','degree','pass out'])
Person

age            23
name        sandy
degree         BE
pass out     2020
dtype: object

These labels can be used to refer to the values in the `Series`.

In [7]:
Person['degree']

'BE'

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [8]:
Person[1]

'sandy'

We can give both the array of values and the index meaningful labels themselves:

In [9]:
Person.name='information'
Person.index.name='Details'
Person

Details
age            23
name        sandy
degree         BE
pass out     2020
Name: information, dtype: object

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [10]:
value=pd.Series([10,1,2,5,6],index=['ten','one','two','five','six'])
np.log(value)

ten     2.302585
one     0.000000
two     0.693147
five    1.609438
six     1.791759
dtype: float64

We can also filter according to the values in the `Series`:

In [11]:
value[value>5]

ten    10
six     6
dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [12]:
mrks={'sany':65,'rohan':75,'abhi':60,'kumar':90}
print(mrks)
pd.Series(mrks)

{'sany': 65, 'rohan': 75, 'abhi': 60, 'kumar': 90}

sany     65
rohan    75
abhi     60
kumar    90
dtype: int64

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [13]:
data={'name':['sandy','amith','rohan','shadab','abhi'],
     'Year':[1997,1998,2002,1999,2004],
     'Qualification':['BE','MS','MTech','BSC','BE']}
print(data)
data=pd.DataFrame(data)
data

{'name': ['sandy', 'amith', 'rohan', 'shadab', 'abhi'], 'Year': [1997, 1998, 2002, 1999, 2004], 'Qualification': ['BE', 'MS', 'MTech', 'BSC', 'BE']}

     name  Year Qualification
0   sandy  1997            BE
1   amith  1998            MS
2   rohan  2002         MTech
3  shadab  1999           BSC
4    abhi  2004            BE

To change the order of the columns:

In [14]:
df=pd.DataFrame(data,columns=['Year','Qualification','name'])
df

   Year Qualification    name
0  1997            BE   sandy
1  1998            MS   amith
2  2002         MTech   rohan
3  1999           BSC  shadab
4  2004            BE    abhi

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [15]:
df['percentage']=[71,65,88,55,69]
df

   Year Qualification    name  percentage
0  1997            BE   sandy          71
1  1998            MS   amith          65
2  2002         MTech   rohan          88
3  1999           BSC  shadab          55
4  2004            BE    abhi          69

In [16]:
df['series_aligned']=pd.Series(range(5),index=[0,1,2,3,4])
df

   Year Qualification    name  percentage  series_aligned
0  1997            BE   sandy          71               0
1  1998            MS   amith          65               1
2  2002         MTech   rohan          88               2
3  1999           BSC  shadab          55               3
4  2004            BE    abhi          69               4

Passing a dicts where the values are dicts is also possible

In [17]:
df.to_dict()

{'Year': {0: 1997, 1: 1998, 2: 2002, 3: 1999, 4: 2004},
 'Qualification': {0: 'BE', 1: 'MS', 2: 'MTech', 3: 'BSC', 4: 'BE'},
 'name': {0: 'sandy', 1: 'amith', 2: 'rohan', 3: 'shadab', 4: 'abhi'},
 'percentage': {0: 71, 1: 65, 2: 88, 3: 55, 4: 69},
 'series_aligned': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4}}

In [18]:
pd.DataFrame(df.to_dict())

   Year Qualification    name  percentage  series_aligned
0  1997            BE   sandy          71               0
1  1998            MS   amith          65               1
2  2002         MTech   rohan          88               2
3  1999           BSC  shadab          55               3
4  2004            BE    abhi          69               4

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [19]:
data=[{'a':i,'b':10*i} for i in range(8)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 10}, {'a': 2, 'b': 20}, {'a': 3, 'b': 30}, {'a': 4, 'b': 40}, {'a': 5, 'b': 50}, {'a': 6, 'b': 60}, {'a': 7, 'b': 70}]

   a   b
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40
5  5  50
6  6  60
7  7  70

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [5]:
pd.DataFrame([{'aa':1,'bb':2},{'bb':3,'cc':4}])

    aa  bb   cc
0  1.0   2  NaN
1  NaN   3  4.0

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [9]:
pd.DataFrame(np.random.randint(3,17),columns=['nnn','bbb'],index=['a','b','c','d'])

   nnn  bbb
a    5    5
b    5    5
c    5    5
d    5    5

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you take reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [11]:
index=pd.Index([20,4,67,88,99,55])
index

Int64Index([20, 4, 67, 88, 99, 55], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [13]:
index[4]

99

In [14]:
index[: :]

Int64Index([20, 4, 67, 88, 99, 55], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [15]:
print(index.size,index.shape,index.ndim,index.dtype)

6 (6,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via normal means:

In [16]:
index[2]=79

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [19]:
hng=np.random.RandomState(20)
dd=pd.Series(hng.randint(0,10,4))
dd

0    3
1    9
2    4
3    6
dtype: int32

In [24]:
dfr=pd.DataFrame(hng.randint(0,10,(5,4)),columns=['a','b','c','d'])
dfr

   a  b  c  d
0  5  2  9  7
1  5  5  9  6
2  9  9  5  2
3  9  6  1  8
4  1  0  8  5

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [25]:
np.exp(dd)

0      20.085537
1    8103.083928
2      54.598150
3     403.428793
dtype: float64

Or, for a slightly more complex calculation:

In [26]:
np.sin(dfr*np.pi/6)

     a             b         c             d
0  0.5  8.660254e-01 -1.000000 -5.000000e-01
1  0.5  5.000000e-01 -1.000000  1.224647e-16
2 -1.0 -1.000000e+00  0.500000  8.660254e-01
3 -1.0  1.224647e-16  0.500000 -8.660254e-01
4  0.5  0.000000e+00 -0.866025  5.000000e-01

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [28]:
area=pd.Series({'alaska':8773878,'texas':134898,'california':998473},name='area')
population=pd.Series({'california':3366736,'texas':8965785,'new york':6645443},name='population')
print(area)
population

alaska        8773878
texas          134898
california     998473
Name: area, dtype: int64

california    3366736
texas         8965785
new york      6645443
Name: population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [29]:
population/area

alaska              NaN
california     3.371885
new york            NaN
texas         66.463439
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [30]:
area.index | population.index

<ipython-input-30-ff558a211efb>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  area.index | population.index

Index(['alaska', 'california', 'new york', 'texas'], dtype='object')

In [34]:
a=pd.Series([66,7,99,55],index=[0,1,2,3])
b=pd.Series([6,87,44,32],index=[1,2,3,4])
print(a)
print(b)

b
a+b

0    66
1     7
2    99
3    55
dtype: int64
1     6
2    87
3    44
4    32
dtype: int64

0      NaN
1     13.0
2    186.0
3     99.0
4      NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [35]:
a.add(b,fill_value=0)

0     66.0
1     13.0
2    186.0
3     99.0
4     32.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

# Data wrangling
Getting the data in the shape that we want is the single most time consuming task in the life of the Data Scientist. Sometimes it can be the most frustrating.

## Merge operations
By merging we mean combining different data sets by linking rows with one or more keys. The basic syntax is very simple.

In [53]:
df={'Province':['FL','FL','NH','NH','ZH'],'Year':[2013,2014,2013,2014,2014],'Literacy':[0.2,0.1,0.6,0.3,0.7]}
df1=pd.DataFrame(df)
df1

  Province  Year  Literacy
0       FL  2013       0.2
1       FL  2014       0.1
2       NH  2013       0.6
3       NH  2014       0.3
4       ZH  2014       0.7

In [54]:
df2=pd.DataFrame({'Province':['FL','NH','ZH'],'Population':[10000,30000,50000]})
df2

  Province  Population
0       FL       10000
1       NH       30000
2       ZH       50000

Let's say we want a dataset with year, literacy, province and population. We can create it from `df` and `df2`.

In [55]:
  # merge is smart! If there are overlapping names, it uses those for the merge
df1.merge(df2)

  Province  Year  Literacy  Population
0       FL  2013       0.2       10000
1       FL  2014       0.1       10000
2       NH  2013       0.6       30000
3       NH  2014       0.3       30000
4       ZH  2014       0.7       50000

If the column names are different, you need to specify them explicitely

In [58]:
df3=pd.DataFrame({'province':['FL','NH'],'Population':[10000,20000]})
df3
df1.merge(df3,right_on='province',left_on='Province')

  Province  Year  Literacy province  Population
0       FL  2013       0.2       FL       10000
1       FL  2014       0.1       FL       10000
2       NH  2013       0.6       NH       20000
3       NH  2014       0.3       NH       20000

What happened? Zuid Holland is weg!

By default `merge` does inner joins. If you want a different type of join, you can specify it.

In [59]:
df4=pd.DataFrame({'Province':['FL','NH','UT'],'Population':[10000,20000,50000]})
df1.merge(df4,how='outer')

  Province    Year  Literacy  Population
0       FL  2013.0       0.2     10000.0
1       FL  2014.0       0.1     10000.0
2       NH  2013.0       0.6     20000.0
3       NH  2014.0       0.3     20000.0
4       ZH  2014.0       0.7         NaN
5       UT     NaN       NaN     50000.0

Check this out:

In [64]:
df5=pd.DataFrame({'Province':['FL','NH','FL'],'Population':[10000,20000,50000]})
print(df1)
df1.merge(df5,how='outer')

  Province  Year  Literacy
0       FL  2013       0.2
1       FL  2014       0.1
2       NH  2013       0.6
3       NH  2014       0.3
4       ZH  2014       0.7

  Province  Year  Literacy  Population
0       FL  2013       0.2     10000.0
1       FL  2013       0.2     50000.0
2       FL  2014       0.1     10000.0
3       FL  2014       0.1     50000.0
4       NH  2013       0.6     20000.0
5       NH  2014       0.3     20000.0
6       ZH  2014       0.7         NaN

This was a many-to-many merge. Even though if you think about it, the behavior is what you expect, you might still not think about it and be surprised!

### Combining data with overlap
Sometimes some data is missing, and it can be "patched" with another dataset. Let's take a look.

In [69]:
series_a=pd.Series([np.nan,12.5,np.nan,87.9,99.9,np.nan],index=['a','b','c','d','e','f'])

series_b=pd.Series(np.arange(len(series_a),dtype=np.float64),index=['a','b','c','d','e','f'])

In [70]:
series_a

a     NaN
b    12.5
c     NaN
d    87.9
e    99.9
f     NaN
dtype: float64

In [71]:
series_b

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

Let's say we want to update `a` with the values from `b`. The num-pythonic way to do that is

In [72]:
pd.Series(np.where(pd.isnull(series_a),series_b,series_a),index=series_a.index)

a     0.0
b    12.5
c     2.0
d    87.9
e    99.9
f     5.0
dtype: float64

That's a bit verbose for something so simple. What about this:

In [73]:
series_a.combine_first(series_b)

a     0.0
b    12.5
c     2.0
d    87.9
e    99.9
f     5.0
dtype: float64